In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
df_sp1 = pd.read_csv('data_files/S&P 500 내역 (1).csv')
df_sp2 = pd.read_csv('data_files/S&P 500 내역 (2).csv')

In [23]:
df_sp = pd.concat([df_sp2, df_sp1])

In [24]:
df_sp

                 날짜        종가        오픈        고가        저가 거래량    변동 %
0     2022년 05월 05일  4,152.38  4,255.50  4,256.39  4,105.51   -  -3.44%
1     2022년 05월 04일  4,300.17  4,181.18  4,307.66  4,148.91   -   2.99%
2     2022년 05월 03일  4,175.48  4,159.78  4,200.10  4,147.08   -   0.48%
3     2022년 05월 02일  4,155.38  4,130.61  4,169.81  4,062.51   -   0.57%
4     2022년 04월 29일  4,131.93  4,253.75  4,269.68  4,124.28   -  -3.63%
...             ...       ...       ...       ...       ...  ..     ...
4995  2000년 01월 07일  1,441.50  1,403.50  1,441.50  1,400.50   -   2.71%
4996  2000년 01월 06일  1,403.50  1,402.10  1,411.90  1,392.00   -   0.10%
4997  2000년 01월 05일  1,402.10  1,399.40  1,413.30  1,377.70   -   0.19%
4998  2000년 01월 04일  1,399.40  1,455.20  1,455.20  1,397.40   -  -3.83%
4999  2000년 01월 03일  1,455.20  1,469.20  1,478.00  1,438.40   -  -0.95%

[5623 rows x 7 columns]

In [25]:
df_sp.to_csv('data_files/S&P500 데이터.csv')

In [27]:
pd.read_csv('data_files/S&P500 데이터.csv', index_col='Unnamed: 0')

                 날짜        종가        오픈        고가        저가 거래량    변동 %
0     2022년 05월 05일  4,152.38  4,255.50  4,256.39  4,105.51   -  -3.44%
1     2022년 05월 04일  4,300.17  4,181.18  4,307.66  4,148.91   -   2.99%
2     2022년 05월 03일  4,175.48  4,159.78  4,200.10  4,147.08   -   0.48%
3     2022년 05월 02일  4,155.38  4,130.61  4,169.81  4,062.51   -   0.57%
4     2022년 04월 29일  4,131.93  4,253.75  4,269.68  4,124.28   -  -3.63%
...             ...       ...       ...       ...       ...  ..     ...
4995  2000년 01월 07일  1,441.50  1,403.50  1,441.50  1,400.50   -   2.71%
4996  2000년 01월 06일  1,403.50  1,402.10  1,411.90  1,392.00   -   0.10%
4997  2000년 01월 05일  1,402.10  1,399.40  1,413.30  1,377.70   -   0.19%
4998  2000년 01월 04일  1,399.40  1,455.20  1,455.20  1,397.40   -  -3.83%
4999  2000년 01월 03일  1,455.20  1,469.20  1,478.00  1,438.40   -  -0.95%

[5623 rows x 7 columns]

In [30]:
df_mi10_1 = pd.read_csv('data_files/미국 10년물 국채 금리 채권 수익율 내역.csv')
df_mi10_2 = pd.read_csv('data_files/미국 10년물 국채 금리 채권 수익율 내역 (1).csv')

In [34]:
df_mi10 = pd.concat([df_mi10_2, df_mi10_1])

In [ ]:
df_min10.to_csv('data_files/미국 10년 국채')