In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [66]:
import requests
from bs4 import BeautifulSoup
from html_table_parser import parser_functions

In [67]:
import re
import math

In [68]:
df = pd.read_csv('data_files/2000이후 데이터.csv', index_col='날짜')

In [97]:
df_shift1 = df.shift(-1)[:-64]

In [98]:
df_shift1.head()

             S&P500  미국채10년       GSCI  기준금리      연도
날짜
2022-05-04  4175.48   2.975  3837.0591   1.5  2022.0
2022-05-03  4155.38   2.977  3903.0850   1.5  2022.0
2022-05-02  4131.93   2.938  3882.9910   1.5  2022.0
2022-04-29  4287.50   2.832  3884.4270   1.5  2022.0
2022-04-28  4183.96   2.826  3844.8201   1.5  2022.0

In [99]:
df_shift90 = df.shift(-64)[:-64] # 1월 3일

In [100]:
df_shift90.head()

             S&P500  미국채10년       GSCI  기준금리      연도
날짜
2022-05-04  4546.54   1.795  3111.9990  1.25  2022.0
2022-05-03  4515.55   1.784  3097.5291  1.25  2022.0
2022-05-02  4431.85   1.778  3080.4199  1.25  2022.0
2022-04-29  4326.50   1.803  3062.4990  1.25  2022.0
2022-04-28  4349.93   1.873  3076.4131  1.25  2022.0

In [102]:
df_shift1 - df_shift90

            S&P500  미국채10년      GSCI  기준금리   연도
날짜
2022-05-04 -371.06   1.180  725.0601  0.25  0.0
2022-05-03 -360.17   1.193  805.5559  0.25  0.0
2022-05-02 -299.92   1.160  802.5711  0.25  0.0
2022-04-29  -39.00   1.029  821.9280  0.25  0.0
2022-04-28 -165.97   0.953  768.4070  0.25  0.0
...            ...     ...       ...   ...  ...
2000-04-10   74.80  -0.668  301.2520  0.00  0.0
2000-04-07   97.80  -0.617  305.7910  0.00  0.0
2000-04-06   85.30  -0.729  321.6160  0.00  0.0
2000-04-05   95.30  -0.612  269.6679  0.00  0.0
2000-04-04   50.80  -0.629  320.7090  0.00  0.0

[5552 rows x 5 columns]